## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], 1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                           1260
TOPS CLUB INC                                                     765
UNITED STATES BOWLING CONGRESS INC                                700
WASHINGTON STATE UNIVERSITY                                       492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                   408
                                                                 ...
CHI EPSILON 95                                                      1
EVERGREEN YOUTH FOUNDATION INC DBA PCA FOUNDATION                   1
APPA ASSOCIATION OF HIGHER EDUCATION FACIKITIES OF OFFICERS         1
HORIZONS STUDENT OPPORTUNITIES AND RESULTS FOR NEW MEXICO INC       1
ADVANCED THERAPIES INCORPORATED                                     1
Name: NAME, Length: 19568, dtype: int64

In [5]:
name_counts[name_counts>10]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
NATIONAL COUNCIL FOR GEOCOSMIC RESEARCH INC          11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                  11
AMERICAN POSTAL WORKERS UNION                        11
FINANCIAL PLANNING ASSOCIATION                       11
SLOW FOOD U S A INC                                  11
Name: NAME, Length: 204, dtype: int64

In [6]:
#list(name_counts[name_counts>10].index)

In [7]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `names_to_replace`
names_to_replace = list(name_counts[name_counts <= 10].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                    21202
PARENT BOOSTER USA INC                    1260
TOPS CLUB INC                              765
UNITED STATES BOWLING CONGRESS INC         700
WASHINGTON STATE UNIVERSITY                492
                                         ...
FELLOWSHIP OF CHRISTIAN COWBOYS INC         11
FINANCIAL PLANNING ASSOCIATION              11
SONS OF ITALY IN AMERICA                    11
PEARLAND LADY OILER GOLF BOOSTER CLUB       11
USA SWIMMING INC                            11
Name: NAME, Length: 205, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_counts= application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_counts= application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4500        1
C3700        1
C2170        1
C2190        1
C1732        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#classification_counts[classification_counts > 1]

In [12]:
#list(classification_counts[classification_counts < 1883].index)

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(['IS_SUCCESSFUL'], axis='columns').values
y = application_df['IS_SUCCESSFUL'].values 

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  120
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 1

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               29880

 dense_1 (Dense)             (None, 30)                3630

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 33,541
Trainable params: 33,541
Non-trainable params: 0
_________________________________________________________________

In [18]:
import os
# Define the checkpoint path and filenames
os.makedirs("checkpoints_optimized/",exist_ok=True)
checkpoint_dir = "checkpoints_optimized/weights.{epoch:02d}.hdf5"

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
from keras.callbacks import Callback
from tensorflow.keras.callbacks import ModelCheckpoint

# Create a callback that saves the model's weights every 5 epochs
checkpoint = ModelCheckpoint(filepath = checkpoint_dir, monitor='loss', verbose=1,
    save_best_only=True, mode='auto', period=5)


# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50,callbacks=[checkpoint])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.
Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4766 - accuracy: 0.7727
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4464 - accuracy: 0.7834
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4425 - accuracy: 0.7866
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4405 - accuracy: 0.7870
Epoch 5/50
779/804 [============================>.] - ETA: 0s - loss: 0.4394 - accuracy: 0.7861
Epoch 5: loss improved from inf to 0.43933, saving model to checkpoints_optimized\weights.05.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4393 - accuracy: 0.7866
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4379 - accuracy: 0.7877
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4374 - accuracy: 0.7889
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4368 - accuracy: 0.7890
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4362 - accuracy: 0.7902
Epoch 10/50
800/804 [============================>.] - ETA: 0s - loss: 0.4349 - accuracy: 0.7898
Epoch 10: loss improved from 0.43933 to 0.43525, saving model to checkpoints_optimized\weights.10.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4352 - accuracy: 0.7897
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4348 - accuracy: 0.7914
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4339 - accuracy: 0.7903
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4329 - accuracy: 0.7907
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4334 - accuracy: 0.7911
Epoch 15/50
804/804 [==============================] - ETA: 0s - loss: 0.4325 - accuracy: 0.7905
Epoch 15: loss improved from 0.43525 to 0.43246, saving model to checkpoints_optimized\weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.4325 - accuracy: 0.7905
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4320 - accuracy: 0.7910
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4314 - accuracy: 0.7921
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4311 - accuracy: 0.7916
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4310 - accuracy: 0.7919
Epoch 20/50
776/804 [===========================>..] - ETA: 0s - loss: 0.4298 - accuracy: 0.7926
Epoch 20: loss improved from 0.43246 to 0.43042, saving model to checkpoints_optimized\weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4304 - accuracy: 0.7916
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4301 - accuracy: 0.7929
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4293 - accuracy: 0.7925
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4292 - accuracy: 0.7929
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4287 - accuracy: 0.7925
Epoch 25/50
799/804 [============================>.] - ETA: 0s - loss: 0.4287 - accuracy: 0.7930
Epoch 25: loss improved from 0.43042 to 0.42862, saving model to checkpoints_optimized\weights.25.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4286 - accuracy: 0.7931
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4281 - accuracy: 0.7927
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4278 - accuracy: 0.7930
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4280 - accuracy: 0.7940
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4275 - accuracy: 0.7926
Epoch 30/50
783/804 [============================>.] - ETA: 0s - loss: 0.4268 - accuracy: 0.7929
Epoch 30: loss improved from 0.42862 to 0.42691, saving model to checkpoints_optimized\weights.30.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4269 - accuracy: 0.7929
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4265 - accuracy: 0.7944
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4264 - accuracy: 0.7939
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4266 - accuracy: 0.7936
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4263 - accuracy: 0.7936
Epoch 35/50
778/804 [============================>.] - ETA: 0s - loss: 0.4262 - accuracy: 0.7944
Epoch 35: loss improved from 0.42691 to 0.42632, saving model to checkpoints_optimized\weights.35.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4263 - accuracy: 0.7943
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4258 - accuracy: 0.7942
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4255 - accuracy: 0.7939
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4258 - accuracy: 0.7951
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4249 - accuracy: 0.7955
Epoch 40/50
790/804 [============================>.] - ETA: 0s - loss: 0.4248 - accuracy: 0.7955
Epoch 40: loss improved from 0.42632 to 0.42520, saving model to checkpoints_optimized\weights.40.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4252 - accuracy: 0.7953
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4246 - accuracy: 0.7954
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4244 - accuracy: 0.7945
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4243 - accuracy: 0.7949
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4240 - accuracy: 0.7960
Epoch 45/50
788/804 [============================>.] - ETA: 0s - loss: 0.4233 - accuracy: 0.7969
Epoch 45: loss improved from 0.42520 to 0.42380, saving model to checkpoints_optimized\weights.45.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4238 - accuracy: 0.7965
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4242 - accuracy: 0.7959
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4242 - accuracy: 0.7957
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4233 - accuracy: 0.7966
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4234 - accuracy: 0.7954
Epoch 50/50
788/804 [============================>.] - ETA: 0s - loss: 0.4219 - accuracy: 0.7973
Epoch 50: loss improved from 0.42380 to 0.42314, saving model to checkpoints_optimized\weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.4231 - accuracy: 0.7963

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4538 - accuracy: 0.7782 - 456ms/epoch - 2ms/step
Loss: 0.45382368564605713, Accuracy: 0.778192400932312

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization1.h5")

Recommendation Model

In [25]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [26]:
# Create a random forest classifier.
randomforest_model = RandomForestClassifier(n_estimators=128, random_state=78) 

# Fitting the model
randomforest = randomforest_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = randomforest_model.predict(X_test_scaled)
print(f" Random Forest Model Accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest model accuracy: 0.765